<!DOCTYPE html>
<html>

<head>
    <title>mhealRecruitMatch</title>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    table,
    td,
    th {
        border: 1px solid;
    }
</style>


<body>
    <h1>M-HEAL Recruitment Matching Program</h1>
    <h3>Based on the Roth-Peranson (NRMP) Medical Residency matching algorithm</h3>
    <a href="https://github.com/J-DM/Roth-Peranson">Algorithm Source: https://github.com/J-DM/Roth-Peranson</a>
    <p></p>
    <a href="https://github.com/RyanJHamby/mhealRecruitMatch">This page's Git repo:
        https://github.com/RyanJHamby/mhealRecruitMatch</a>
    <p>Both the applicants and teams will rank each other in this process.</p>
    <p>NOTE: As long as M-HEAL separates the recruiting/placement of project and travel teams, run the travel team and
        project team algorithms separately! (i.e. someone being placed on SANA travel team should not affect eligibility
        for a travel team like MESA, so make 3 spreadsheets for each process--3 for travel teams and 3 for project
        teams)</p>
    <h2>FORMATTING</h2>

    <div>
        <p><b>Teams_Ranking_Applicants.csv</b> must be formatted as below:</p>
        <table style="width:50%">
            <tr>
                <td>Team1Name</td>
                <td>Team2Name</td>
                <td>Team3Name</td>
                <td>Team4Name</td>
                <td>Team5Name</td>
            </tr>
            <tr>
                <td>1stRankedApplicantEmail</td>
                <td>1stRankedApplicantEmail</td>
                <td>1stRankedApplicantEmail</td>
                <td>1stRankedApplicantEmail</td>
                <td>1stRankedApplicantEmail</td>
            </tr>
            <tr>
                <td>2ndRankedApplicantEmail</td>
                <td>2ndRankedApplicantEmail</td>
                <td>2ndRankedApplicantEmail</td>
                <td>2ndRankedApplicantEmail</td>
                <td>2ndRankedApplicantEmail</td>
            </tr>
            <tr>
                <td>3rdRankedApplicantEmail</td>
                <td>3rdRankedApplicantEmail</td>
                <td>3rdRankedApplicantEmail</td>
                <td>3rdRankedApplicantEmail</td>
                <td>3rdRankedApplicantEmail</td>
            </tr>
            <tr>
                <td>4thRankedApplicantEmail</td>
                <td></td>
                <td>4thRankedApplicantEmail</td>
                <td>4thRankedApplicantEmail</td>
                <td>4thRankedApplicantEmail</td>
            </tr>
            <tr>
                <td>5thRankedApplicantEmail</td>
                <td></td>
                <td>5thRankedApplicantEmail</td>
                <td></td>
                <td>5thRankedApplicantEmail</td>
            </tr>
        </table>
    </div>
    <div>
        <p><b>Applicants_Ranking_Teams.csv</b> must be formatted as below:</p>
        <table style="width:50%">
            <tr>
                <td>a@umich.edu</td>
                <td>b@umich.edu</td>
                <td>c@umich.edu</td>
                <td>d@umich.edu</td>
                <td>e@umich.edu</td>
                <td>f@umich.edu</td>
            </tr>
            <tr>
                <td>FirstNameA</td>
                <td>FirstNameB</td>
                <td>FirstNameC</td>
                <td>FirstNameD</td>
                <td>FirstNameE</td>
                <td>FirstNameF</td>
            </tr>
            <tr>
                <td>LastNameA</td>
                <td>LastNameB</td>
                <td>LastNameC</td>
                <td>LastNameD</td>
                <td>LastNameE</td>
                <td>LastNameF</td>
            </tr>
            <tr>
                <td>TopRankedTeam</td>
                <td>TopRankedTeam</td>
                <td>TopRankedTeam</td>
                <td>TopRankedTeam</td>
                <td>TopRankedTeam</td>
                <td>TopRankedTeam</td>
            </tr>
            <tr>
                <td></td>
                <td>SecondRankedTeam</td>
                <td></td>
                <td>SecondRankedTeam</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>ThirdRankedTeam</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>
        <p><b>Team_Places.csv</b> must be formatted as below (column B is number of spots intending to fill. Do NOT
            include
            alternates
            in this count):</p>
        <table>
            <tr>
                <td>Team1</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Team2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Team3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Team4</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Team5</td>
                <td>5</td>
            </tr>
        </table>
    </div>
    <div style="margin-right:50%">
        <h2>IMPORTANT NOTES</h2>
        <ul>
            <li>Check spelling of all emails and teams (this is how the algorithm sorts--double check for typos)</li>
            <li>Use ONLY lowercase letters for emails and teams. No spaces, tabs, or commas allowed.</li>
            <li>The Applicants_Ranking_Teams sheet, Teams_Ranking_Applicants sheet,
                and Team_Places sheet should each be in a separate .csv file
                (make 3 separate Google Sheets documents, one for each sheet and only that sheet, download each as .csv)
            </li>
            <li>Alternates should be listed in Teams_Ranking_Applicants sheet. The Team_Places sheet will take
                care of the # of spots filled ultimately (i.e. teams should list all applicants top to bottom in
                Teams_Ranking_Applicants, no need
                to distinguish alternates anywhere besides listing the # of spots available in Team_Places)</li>
            <li>This website will also notify you of which applicants did not match</li>
            <li>Only applicants that are ranked by a team will be potentially accepted to a team</li>
            <li>Only teams ranked by an applicant will be a potential match for the applicant</li>
            <li>If a team is ranking applicants by subteam, split the team (e.g. mesaEngineering, mesaBusiness). For
                each applicant
                that ranks that team on his/her list, make sure to use the corresponding specific subteam name
                (mesaEngineering, mesaBusiness). In other words,
                treat each recruiting subteam as its own independent project team.</li>
        </ul>

    </div>
    <div style="border:1px solid blue">
        <h3>Any issues with the input will be displayed in this box after you hit "run program".</h3>
        <b style="color:red;">{{result.error}}</b>
    </div>
    <h2>Teams' rankings of applicants (.csv format only):</h2>
    <form action="/" method="POST" enctype="multipart/form-data" id="data">
        <input type="file" name="TeamRankings">
        <div id="ExcelTable"></div>
        <p id="a"></p>


        <h2>Applicants' rankings of teams (.csv format only):</h2>
        <!-- <form id="ApplicantForm" action="/" method="GET"> -->
        <label><input type="file" name="ApplicantRankings"></label>

        <div id="ExcelTable2"></div>
        <h2>Teams # of spots (.csv format only):</h2>
        <!-- <form id="SpotsForm" action="/" method="GET"> -->
        <label><input type="file" name="Spots" width="100%"></label>

        <br><br>
        <!-- <form id="runButton" role="runButton"> -->
        <input type="submit" value="Run Program">
    </form>
    <br><br>
    <form action="/" method="GET">
        <button>Clear Results</button>
    </form>
    <div>
        <table>
            {% for key, value in result.items() %} <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>